/* font sizes */
$basefont:18px;
$reducedfont:17px;
$font16:0.889em; /* 16px - default */
$fontH1:2.222em; /* 40px - default */
$fontH2-22:1.222em;/* 22px - default */
$fontH2-25:1.389em;/* 25px - default */
$fontIntro:1.278em;/* 23px - default */

/* image path*/
$imgRoot:/sites/all/themes/rs_201407/images;

/* colours */
$darkGrey: #525252; /* eg footer BG */
$lightGrey: #ebebeb; /* eg top menu border */
$black: #111;
$midBlue:#006aaf; /* eg homepage central blue bg */
$darkerBlue:#0049b9; /* helpful form button */
$darkBlue:#224096; /* eg homepage top more blue link */
$lightBlue:#d4e4f3; /* useful info form bg */
$darkLilac:#a77bd4; /* eg home top right block */
$midLilac:#dac9ee; /*eg home page postscript title underline */
$lilac:#f0e9f8; /* eg homepage bottom section */
$darkRed: #a93023; /* land & building tax */
$lightRed: #f2e0de; /* land & building tax */
$lightGreen: #e0f2f4; /* landfill tax */

$contentBlockPadding: 0 20px 0 15px;

/* mixins */

@mixin  zone-content-background($img,$bordercolour) {
  padding-bottom:95px;
  background: url('#{$imgRoot}/#{$img}') 50% 100% no-repeat;
  border-bottom:30px solid $bordercolour;
  background-size:100% 65px;  
}
@mixin  partial-title-border($bordercolour) {
  height:10px;
  background:$bordercolour;
  width:95px;
  display:block;
  margin-top:15px;
  content:""
}

@mixin  more-info-boxes($bg-img,$bg-colour,$arrow) {
  .block-title-wrapper{
    padding:20px 20px 30px;
    background: url('#{$imgRoot}/#{$bg-img}') 50% 100% no-repeat $bg-colour;   
    background-size:100% 20px;  
    h2{
      font-size:$fontH2-25;
    }
  }
  .field-items{
    padding:0 5px;
    .field-item{
      margin-top:10px;
    }
  }
  .view-more{
    margin-top:25px;
    padding-right:22px;
    text-align:right;
    font-weight: 700;
    font-size:$font16;
    line-height:31px;
    background: url('#{$imgRoot}/#{$arrow}') 100% 50% no-repeat;   
  }
}