/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'base';

/* variables */
/* fonts */
$default-font:"Raleway", Verdana, Helvetica, Arial, sans-serif;
$calibri-font:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;


/* font size */
h1{font-size:$fontH1;}
h2{font-size:$fontH2-22;}

/* main page settings */
.page {font-size:$reducedfont !important; line-height: 1.2; margin-top:12px;}
.page * {font-family:  $default-font !important;}
/* menu */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
li.expanded, li.collapsed, li.leaf{
  padding:0;
}
/* links */
a:link, a:visited{
  text-decoration: none;
}
/* menu */
/* top menu */
.region-user-first {
  margin-bottom:45px;
  ul {
    text-align:right;
    li.leaf{
      display: inline-block;
      font-family:$calibri-font;
      font-weight: 700;
      border-right:$lightGrey solid 4px;
      a{
        color: #000;
        padding:5px 21px;
      }
    }
  }
}
/* main menu */

/* breadcumbs */
#breadcrumb{
  margin-top:20px;
}
.breadcrumb {
  font-size:$font16;
  color: $black;
  li:after{
    content: ' >';
    display:inline;
  }
  li.last:after{
    content: '';
  }
  a:link, a:visited{
    color: $black;
  }
}
/* home specific */
.front {
  & .zone-preface-wrapper{
    background: url('#{$imgRoot}/mc-blue-top-home.png') $midBlue no-repeat 50% 0;
    padding-top:180px;
  }
  & .zone-preface .region .block-inner{
    background: url('#{$imgRoot}/white-block-blue-bg-footer-wedge.png') 0 100% no-repeat #fff;
    padding-bottom: 20px;
    background-size: 100% 20px;
    margin-bottom:20px;
  }
  & .zone-preface .region .block-inner,
  & .block-block-5  {
    .content{
      padding-top:20px;
    }
    .content>*{
      padding:$contentBlockPadding;
    }
  }
  & .zone-preface .region {
    .block-block-2 .content{
      background: url('#{$imgRoot}/block-top-flash-1.png') 100% 0 no-repeat;
    }
    .block-block-3 .content{
      background: url('#{$imgRoot}/block-top-flash-2.png') 100% 0 no-repeat;
    }
    .block-block-4 .content{
      background: url('#{$imgRoot}/block-top-flash-3.png') 100% 0 no-repeat;
    }
  }
  & .zone-content-wrapper{
    padding-top: 100px;
    background: url('#{$imgRoot}/mc-blue-bottom-home.png') no-repeat 50% 0;
    #page-title{
      display: none;
    }
  }
  & .zone-content,& .zone-postscript{
    background:$lilac;
  }
  & .zone-postscript{
    padding-bottom:40px;
  }  
  & .zone-postscript .region .block h2{
    border-bottom:10px solid $midLilac;
    min-height: 2.5em;
  }
  & .field-name-body a,
  & .zone-postscript .region .block a{
    display: inline-block;
    color:#fff;
    font-weight: 700;
  }  
  & .field-name-body a{
    background: url('#{$imgRoot}/blue-on-white-arrow-right.png') $darkBlue 100% 50% no-repeat;
    padding:0 55px 0 20px;
    line-height:46px;
  }
  & .zone-postscript .region .block .content a{
    background: url('#{$imgRoot}/blue-on-lilac-arrow-right.png') $darkBlue 100% 50% no-repeat;
    padding:0 49px 0 17px;
    line-height:39px;
  }
  & .block-block-5 {
    background:url('#{$imgRoot}/arrow-dark-lilac-on-white-down.png') $darkLilac 50% 100% no-repeat;
    background-size: 100% 21px;
    padding-bottom:21px;
    h2{
      color:#fff;
      border-bottom:11px solid #fff;
      display:inline-block;
      padding-right:0 !important;
    }
  }
}
.context-land-buildings-transaction-tax,.context-scottish-landfill-tax {
  .region-preface-second{
    margin:0;
    .block-delta-blocks-page-title{
      margin-left:110px;      
    }
    .block-delta-blocks-page-title:after{
      height:10px;
      background:#fff;
      width:110px;
      display:block;
      margin:0 0 0 -110px;
      content:""
    }
  }
  h1{
    margin-bottom:12px;
  }
  .block-field-introduction{
    margin:0 0 0 110px;
    font-size:$fontIntro;
  }
  .block-sub-menu-items {
    .depth-2,.depth-3 h2{
      padding-bottom:15px;
    }
    h2{
      font-size: $fontH2-25;
      a{
        color: #000;
      }
    }
  }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first .region-inner .block{
    padding:17px 28px;
    a{
      color: $black;
    }
  }
}
/* Land & Building Transaction Tax  */
.context-land-buildings-transaction-tax {
  .zone-preface-wrapper{
    padding-top:45px;
    border-top:$darkRed 35px solid;
    background: url('#{$imgRoot}/mc-r-t.png') 50% 0 no-repeat;
  }
  .zone-preface{
    padding-bottom:40px;
    background: url('#{$imgRoot}/mc-r-tb.png') 50% 100% no-repeat $lightRed;   
    background-size:100% 40px;  
  }
  .zone-content { @include zone-content-background('mc-r-bb.png',$lightRed); }
  .block-sub-menu-items .depth-2 h2,.block-sub-menu-items .depth-3 h2{
    border-bottom:10px solid $lightRed;
  }
  .block-sub-menu-items .depth-4 h2:after{ @include partial-title-border($lightRed); }

  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first{
    padding-bottom:20px;
    background: url('#{$imgRoot}/mc-r-tb.png') 50% 100% no-repeat $lightRed;  
  }
}
/* scottish landfill tax */
.context-scottish-landfill-tax {
  .zone-preface-wrapper{
    padding-top:80px;
    background: url('#{$imgRoot}/mc-g-t.png') 50% 0 no-repeat;
  }
  .zone-preface{
    padding-bottom:40px;
    background: url('#{$imgRoot}/mc-g-tb.png') 50% 100% no-repeat $lightGreen;   
    background-size:100% 40px;  
  }
  .block-sub-menu-items .depth-2 h2,.block-sub-menu-items .depth-3 h2{
    border-bottom:10px solid $lightGreen;
  }
  .block-sub-menu-items .depth-4 h2:after{ @include partial-title-border($lightGreen); }

  .zone-content { @include zone-content-background('mc-g-bb.png',$lightGreen); }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first{
    padding-bottom:20px;
    background: url('#{$imgRoot}/mc-g-tb.png') 50% 100% no-repeat $lightGreen;  
  }
}
/* faq */
.block-sub-menu-items{
  .grid-4{
    margin-bottom:60px;
  }
  .grid-4:nth-child(3n+1){
    margin-left:0;
  }
  .grid-4:nth-child(3n+3){
    margin-right:0;
  }
}

/* footer */
.zone-footer{
  background: url('#{$imgRoot}/footer.png') $darkGrey 0 100% no-repeat;
  background-size: 100% auto;
  font-size: $font16;
  padding:30px 0 170px;
  margin-bottom:20px;
  ul.menu li{
    display:inline-block;
    vertical-align:top;
    margin:0 15px 0 0;
  }
  ul.menu li:nth-child(1n+3){
    margin:0;
  }
  p,li a,li a:active{
    color:#fff;
    text-decoration:none;
    font-weight:700;
  }
}