/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'base';

/* variables */
/* fonts */
$default-font:"Raleway", Verdana, Helvetica, Arial, sans-serif;
$calibri-font:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;


/* font size */
h1{font-size:$fontH1;}
h2{font-size:$fontH2-22;}

/* main page settings */
.page {font-size:$reducedfont !important; line-height: 1.2; margin-top:12px;}
.page * {font-family:  $default-font !important;}
/* menu */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
li.expanded, li.collapsed, li.leaf{
  padding:0;
}
/* links */
a:link, a:visited{
  text-decoration: none;
  color:$colour-black-almost;
  &:hover{
    text-decoration:underline;
  }
}
.logo-img{
  padding-top:30px;
}
/* menu */
/* top menu */
.region-user-first {
  ul.menu {
    position:absolute;
    right:0;
    li{
      margin:0;
      display: inline-block;
      font-family:$calibri-font;
      font-weight: 700;
      border-right:$colour-grey-light solid 4px;
      a{
        color: #000;
        padding:5px 21px;
        font-size:$font16;
      }
      &.active-trail a{
        text-decoration: underline;
      }
    }
  }
}
/* main menu */
.region-menu{
  padding-top:3px;
}
.sf-menu-tax-main-menu{
  font-size:$font21;
  font-weight:700;
  li{
    &#menu-616-1{
      background:url('#{$imgRoot}/t-m-r.png') no-repeat 100% 0;
      &:not(.active-trail) > a:hover,
        &.active-trail > a{
        border-bottom:$colour-red-dark 5px solid;
        padding-bottom:10px;
      }
      &.active-trail > a{
        padding-bottom:8px;
      }
      & > ul{
        padding:0 10px;
        border-top-color:$colour-red-dark;
        border-bottom-color:$colour-red-dark;
        & > li{
          border-bottom-color:$colour-red-light;
        }
      }
    }
    &#menu-617-1{
      background:url('#{$imgRoot}/t-m-g.png') no-repeat 100% 0;
      &:not(.active-trail) > a:hover,
        &.active-trail > a{
        border-bottom:$colour-green-dark 5px solid;
      }
      & > ul{
        padding:0 10px;
        border-top-color:$colour-green-dark;
        border-bottom-color:$colour-green-dark;
        & > li{
          border-bottom-color:$colour-green-light;
        }
      }
    }
    & a:hover{
      text-decoration: none;
    }
    &.sf-depth-1{
      width:44%;
      padding-right:25px;
      text-align:center;
      & > a{
        display:inline-block;
        height:42px;
        padding-bottom:13px;
        font-size:$font16;
        &:hover{
          padding-bottom:8px;
        }
      }
      &.active-trail > a,
      &.active-trail > a:hover{
        padding-bottom:8px;
      }
      & > ul{
        background:#fff;
        margin-top:4px;
        border-top-width:5px;
        border-top-style: solid;
        border-bottom-width:5px;
        border-bottom-style: solid;
        text-align:left;
        & > li{
          display:inline-block;
          border-bottom-width:5px;
          border-bottom-style: solid;
          margin-right:16px;
          &:nth-child(3n){
            margin-right:0;
          }
          &:last-child{
            margin-bottom:60px;
          }
          & > a{
            padding:25px 0;
            height:42px;
          }
        }
      }
    }
  }
}

/* search */
.block--exp-site-search-page,.block--exp-site-search-page-1{
  .views-exposed-form {
    .views-exposed-widget {
      padding:0;
      button:focus, button:active, input:focus, input:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .form-type-textfield{
        input{
          border:0;
          background-color: $colour-blue-light-pastel;
          line-height:45px;
          height:45px;
          padding:0 15px;
          color: $colour-black-almost;
          font-weight:700;
        }
      }
      .form-submit {
        margin-top: 0;
      }
    }
  }
}
.context-site-search-results,.page-blog-search-results {
  .view-site-search{
    text-align: center;
  }
  .view-content{ 
    text-align: left;
    h3{
      background:url('#{$imgRoot}/sr-t-r-b.gif') $colour-blue-light-2 100% 50% no-repeat;
      padding:0 28px;
      line-height:64px;
      font-size:$font30;
    }
    .views-field-title{
      font-weight: 700;
      font-size: $fontH2-25;
      &:after{ @include partial-title-border($colour-blue-light-2); }
    }
    .views-field-body{
      margin:15px 0 50px;
      font-size:$font21;
    }
    .views-row{
      padding-left:28px;
    }
  }
  .item-list{
    padding-left:100px;
    text-align: center;
    background:url('#{$imgRoot}/sr-p-l.gif') $colour-blue-light-2 0 50% no-repeat;
    display:inline-block;
    margin:0 auto;
    vertical-align:middle;
    .pager-title{
      line-height:53px;
      font-weight:700;
    }
  }
  .pager{
    vertical-align:middle;
    padding-right:100px;
    background:url('#{$imgRoot}/sr-p-r.gif') $colour-blue-light-2 100% 50% no-repeat;
    border: none;
    border-color: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    display:inline-block;
    .pager-first,.pager-previous,.pager-next,.pager-last{
      display: none;
    }
    li{
      padding:0;
      margin:0;
      vertical-align:middle;
      line-height:53px;
      border:none;
      a{
        background:none;
        border:none;
        font-size: $fontH2-25;
        text-decoration: underline;
      }
      &.pager-current{
        background:none;
        color: $colour-blue-dark;
        font-size: $fontH2-25;
        padding: 4px 8px;
      }
    }
  }
}
/* breadcumbs */
#breadcrumb{
  margin-top:20px;
}
.breadcrumb {
  font-size:$font16;
  color: $colour-black-almost;
  margin-left:0 !important;
  li:after{
    content: ' >';
    display:inline;
  }
  li.last:after{
    content: '';
  }
  a:link, a:visited{
    color: $colour-black-almost;
  }
}
/* home specific */
.front {
  .zone-menu-wrapper{
    border-bottom:#ebebeb 5px solid;
    margin-bottom:25px;
  }
  h1{
    font-size:$fontH1-front;
  }
  .region-preface-third-inner{
    h3{
      margin-bottom:0; 
    }
    h6{
      font-weight:400;
      margin-bottom:0;
    }    
  }

  & .zone-preface-wrapper{
    background: url('#{$imgRoot}/mc-blue-top-home.png') $colour-blue-mid no-repeat 50% 0;
    padding-top:180px;
    margin-top:-60px;
  }
  & .zone-preface .region .block-inner{
    background: url('#{$imgRoot}/white-block-blue-bg-footer-wedge.png') 0 100% no-repeat #fff;
    padding-bottom: 20px;
    background-size: 100% 20px;
    margin-bottom:20px;
  }
  & .zone-preface .region .block-inner,
  & .block-block-5  {
    .content{
      padding-top:20px;
    }
    .content>*{
      padding:$padding-contentBlock;
    }
  }
  & .zone-preface .region {
    .block-block-2 .content{
      background: url('#{$imgRoot}/block-top-flash-1.png') 100% 0 no-repeat;
      .link-underline:after{
        background: url('#{$imgRoot}/more-r.gif') 100% 50% no-repeat;
      }
    }
    .block-block-3 .content{
      background: url('#{$imgRoot}/block-top-flash-2.png') 100% 0 no-repeat;
      .link-underline:after{
        background: url('#{$imgRoot}/more-g.gif') 100% 50% no-repeat;
      }
    }
    .block-block-4 .content{
      background: url('#{$imgRoot}/block-top-flash-3.png') 100% 0 no-repeat;
      .link-underline:after{
        background: url('#{$imgRoot}/more-p.gif') 100% 50% no-repeat;
      }
    }
  }
  & .zone-content-wrapper{
    padding-top: 100px;
    #page-title,
    .field-name-field-last-update{
      display: none;
    }
  }
  & .zone-content,& .zone-postscript{
    background:$colour-lilac;
  }
  & .zone-postscript{
    padding-bottom:40px;
  }  
  & .zone-postscript .region .block h2{
    border-bottom:10px solid $colour-lilac-mid;
    min-height: 2.5em;
  }
  & .field-name-body a,
  & .zone-postscript .region .block p > a{
    display: inline-block;
    color:#fff;
    font-weight: 700;
  }  
  & .field-name-body a{
    background: url('#{$imgRoot}/blue-on-white-arrow-right.png') $colour-blue-dark 100% 50% no-repeat;
    padding:0 55px 0 20px;
    line-height:46px;
  }
  & .zone-postscript .region .block .content p:last-child > a{
    background: url('#{$imgRoot}/blue-on-lilac-arrow-right.png') $colour-blue-dark 100% 50% no-repeat;
    padding:0 49px 0 17px;
    line-height:39px;
  }
  & .block-block-5 {
    background:url('#{$imgRoot}/arrow-dark-lilac-on-white-down.png') $colour-lilac-dark 50% 100% no-repeat;
    background-size: 100% 21px;
    padding-bottom:21px;
    color:#fff;
    h2{
      border-bottom:11px solid #fff;
      display:inline-block;
      padding-right:0 !important;
      padding-bottom:10px !important;
    }
    a{
      color: #fff;
    }
  }
}
.context-land-buildings-transaction-tax,.context-scottish-landfill-tax,.context-who-we-are,.context-legislation,.context-news,.context-help,.context-compliance-dispute-resolution,.default-theme,.node-type-news {
  .region-preface-second{
    margin:0;
    .block-block-9,.block-block-10,.block-block-11,.block-block-13,.block-delta-blocks-page-title{
      margin-left:110px;      
    }
    .block-block-9:after,.block-block-10:after,.block-block-11:after,.block-block-13:after,.block-delta-blocks-page-title:after{
      height:10px;
      background:#fff;
      width:110px;
      display:block;
      margin:0 0 0 -110px;
      content:""
    }
    .block-block-11:after,.block-block-13:after{
      margin-bottom:80px;
    }
  }
  h1,h2.search-results-title{
    margin-bottom:12px;
  }
  .block-block-15{
    h1 {
      margin-bottom:4px;
    }
    padding-bottom:25px;
  }
  h2.search-results-title{
    font-size:$font30;
  }
  .block-field-introduction,.block-block-15{
    margin:20px 0 0 110px;
    font-size:$fontIntro;
  }
  .block-sub-menu-items {
    .depth-2,.depth-3{
      h2{
        padding-bottom:5px;
        min-height:60px;
      }
    }
    h2{
      font-size: $fontH2-25;
      a{
        color: #000;
      }
    }
  }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first .region-inner .block{
    padding:17px 28px;
    a{
      color: $colour-black-almost;
    }
  }
}
/* Land & Building Transaction Tax  */
.context-land-buildings-transaction-tax {
  .sf-menu-tax-main-menu {
    li{
      &#menu-616-1{
        width:100%;
        background: none;
        padding:0;
      }
      &#menu-617-1{
        display:none;
      } 
    }
  }
  .zone-preface-wrapper{
    border-top:$colour-red-dark 35px solid;
  }
  .zone-preface{
    padding-bottom:40px;
    background: url('#{$imgRoot}/mc-r-tb.png') 50% 100% no-repeat $colour-red-light;   
    background-size:100% 40px;  
  }
  .zone-content { @include zone-content-background('mc-r-bb.png',$colour-red-light); }
  .block-sub-menu-items {
    .depth-2 h2,.depth-3 h2{
      border-bottom:10px solid $colour-red-light;
    }
  }
  .block-sub-menu-items .depth-4 h2:after{ @include partial-title-border($colour-red-light); }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first{
    padding-bottom:20px;
    background: url('#{$imgRoot}/mc-r-tb.png') 50% 100% no-repeat $colour-red-light;  
  }
  /* addition info */
  .block-info-boxes{ @include more-info-boxes('mc-r-tb.png',$colour-red-light,'more-r.gif');}

  /* tech manuals */
  .field-collection-view{
    .field-name-field-title{
      h2:after{
        @include partial-title-border($colour-red-light,5px,5px);
      }
    }
  }
  .footnotes{
    border-top-color: $colour-red-light;
  }
  /* title under line */
  h1,h2,h3,h4,h5,h6{
    &.heading-underline:after{
      background: $colour-red-light;

    }
  }
}
/* scottish landfill tax */
.context-scottish-landfill-tax {
  .sf-menu-tax-main-menu {
    li{
      &#menu-616-1{
        display:none;
      }
      &#menu-617-1{
        width:100%;
        background: none;
        padding:0;
      } 
    }
  }
  .zone-preface-wrapper{
    border-top:$colour-green-dark 35px solid;
  }
  .zone-preface{
    padding-bottom:40px;
    background: url('#{$imgRoot}/mc-g-tb.png') 50% 100% no-repeat $colour-green-light;   
    background-size:100% 40px;  
  }
  .block-sub-menu-items .depth-2 h2,.block-sub-menu-items .depth-3 h2{
    border-bottom:10px solid $colour-green-light;
  }
  .block-sub-menu-items .depth-4 h2:after{ @include partial-title-border($colour-green-light); }

  .zone-content { @include zone-content-background('mc-g-bb.png',$colour-green-light); }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first{
    padding-bottom:20px;
    background: url('#{$imgRoot}/mc-g-tb.png') 50% 100% no-repeat $colour-green-light;  
  }
  /* addition info */
  .block-info-boxes{@include more-info-boxes('mc-g-tb.png',$colour-green-light,'more-g.gif');}

  /* tech manuals */
  .field-collection-view{
    .field-name-field-title{
      h2:after{
        @include partial-title-border($colour-green-light,5px,5px);
      }
    }
  }
  .footnotes{
    border-top-color: $colour-green-light;
  }  
  /* title under line */
  h1,h2,h3,h4,h5,h6{
    &.heading-underline:after{
      background: $colour-green-light;

    }
  }
}
/* general content */
.context-who-we-are,.context-legislation,.context-news,.context-help,.context-compliance-dispute-resolution,.default-theme{
  .zone-preface-wrapper{
    padding-top:65px;
    border-top:$colour-blue-dark 15px solid;
    margin-bottom:50px;
  }
  .zone-preface{
    padding-bottom:40px;
    background: url('#{$imgRoot}/mc-b-tb.png') 50% 100% no-repeat $colour-blue-light-2;   
    background-size:100% 40px;  
  }
  .zone-content { @include zone-content-background('mc-b-bb.png',$colour-blue-light-2); }
  .block-sub-menu-items .depth-2 h2,.block-sub-menu-items .depth-3 h2{
    border-bottom:10px solid $colour-blue-light-2;
  }
  .block-sub-menu-items .depth-4 h2:after{ @include partial-title-border($colour-blue-light-2); }
  /* faq more box below categories */
  .zone-content-wrapper .region-postscript-first{
    padding-bottom:20px;
    background: url('#{$imgRoot}/mc-b-tb.png') 50% 100% no-repeat $colour-blue-light-2;  
  }
  /* addition info */
  .block-info-boxes{ @include more-info-boxes('mc-b-tb.png',$colour-blue-light-2,'more-b.gif');}
  /* tech manuals */
  .field-collection-view{
    .field-name-field-title{
      h2:after{
        @include partial-title-border($colour-blue-dark-link,5px,5px);
      }
    }
  }
  .footnotes{
    border-top-color:$colour-blue-light-2;
  }
  /* title under line */
  h1,h2,h3,h4,h5,h6{
    &.heading-underline:after{
      background: $colour-blue-dark-blog-more;

    }
  }
}

.modified-theme {
  &.context-help .zone-preface-wrapper{
    background-image:none;
    border-top: none;
    padding-top: 0;
  }
  .zone-preface{
    padding-bottom:0;
    background: url('#{$imgRoot}/mc-b-tb-mod.png') 100% 100% no-repeat $colour-blue-light-2;
  }
  &.context-help{
    .region-content{
      .block-page-title{
        background: url('#{$imgRoot}/mc-b-tb-mod.png') 100% 0 no-repeat $colour-blue-light-2;
        background-size:auto auto;
        margin-bottom:70px;
        h1{
          font-size:$font30;
          padding:0 20px;
          margin:0;
          line-height:60px;
        }
      }
    } 
  }
  .footnotes{
    border-top-color:$colour-blue-light-2;
  }
  /* title under line */
  h1,h2,h3,h4,h5,h6{
    &.heading-underline:after{
      background: $colour-blue-dark-blog-more;

    }
  }
}
/* a-z menu listing */
.menu-block-2 {
  .menu{
    text-align:center;
    width:100%;
    margin:10px 0;
    li{
      display:inline-block;
      vertical-align: top;
      margin:0 3px 0 0;
      text-align: center;
      font-size:$font31;
      font-weight:700;
    }
  } 
}
/* category grid listing */
.block-sub-menu-items{
  .grid-4{
    margin-bottom:60px;
  }
  .grid-4:nth-child(3n+1){
    margin-left:0;
    clear:left;
  }
  .grid-4:nth-child(3n+3){
    margin-right:0;
  }
}
/* news / event / blog home listing */ 
.block-views-news-item-list-block,.view-display-id-block,.view-id-blog{
  h2{
    font-size:$fontH2-25;
    &:after{ @include partial-title-border($colour-purple,5px,5px); }
  }
  .views-row{
    margin-bottom:40px;
  }
}

/* news listing & details */
.page-node-121,.node-type-news{
  .block-views-news-item-list-block{
    h2{
      font-size:$fontH2-25;
      &:after{ @include partial-title-border($colour-purple,5px,5px); }
    }
    .views-row{
      margin-bottom:40px;
    }
  }
  .region-preface-third{
    /* listing heading */
    h1{
      font-size:$fontH1-front;
      &:after{ @include partial-title-border($colour-purple,5px,5px); }
    }
  }
  .views-field-created{
    font-size: $font14;
    margin-bottom:15px;
  }  
  .views-field-view-node a{
    @include read-more();
  }
  .block-news-item-list-block-2 { @include more-info-boxes('mc-b-tb.png',$colour-blue-light-2,'more-b.gif');}
}
/* events listing */
.view-id-events,.node-type-event{
  .views-label,.field-content{
    display:inline-block;
    vertical-align: top;
  }
  .views-label{
    font-weight:700;
  }
  .field-content p:first-child{
    margin-top:0;
  }
  .field-content p:last-child{
    margin-bottom:0;
  }
  .block-events-block-1 { @include more-info-boxes('mc-b-tb.png',$colour-blue-light-2,'more-b.gif');}
}
/* blog */
.context-blog{
  .logo-img{
    margin-bottom:12px;
  }
  .block--exp-site-search-page-1{
    padding-top:45px;
  }
  .region-sidebar-second .block-views {
    @include more-info-boxes('mc-b-tb.png',$colour-blue-light-2,'more-blog.gif',$colour-blue-dark-blog-more,#fff,38px);
    margin-bottom:40px;
  }
  .view-id-blog{
    h2{
      margin-bottom:15px;
    }
    .views-field-created,.views-field-name,.views-field-field-blog-tag{
      font-size:$font14;
    }
    .views-field-view-node a{
      @include read-more();
    }
    .views-row{
      margin-bottom:40px;
    }
  }
  .footnotes{
    border-top-color:$colour-blue-light-2;
  }
  /* title under line */
  h1,h2,h3,h4,h5,h6{
    &.heading-underline:after{
      background: $colour-blue-dark-blog-more ;

    }
  }
}
.blog-home{
  .zone-preface-wrapper{
    background: url('#{$imgRoot}/mc-blog-h-t.png') 50% 0 no-repeat;
    min-height: 387px;
    .field-name-field-introduction{
      color: #FFF;
      margin-top:35px;
    }
  }
}
.node-type-blog-article,.page-taxonomy-term.context-blog{
  .zone-header-wrapper{
    background:$colour-blue-dark-blog;
    padding-top:33px;
    h2{
      color:#fff;
      font-size:$fontH1-blog-header;
      margin-bottom: 0;
    }
  }
  .zone-preface-wrapper{
    padding-top:115px;
    background: url('#{$imgRoot}/mc-blog-t.png') 50% 0 no-repeat;
  }
  .region-preface-third{
    margin-bottom:20px;
    h1{
      margin-bottom:15px;
      &:after{
        @include partial-title-border($colour-purple,5px,5px);
      }
    }
  }
  .zone-content { 
    @include zone-content-background('mc-b-blog-bb.png',$colour-blue-light-blog);
  }
}
/* site wide specific fields */
/* last update */
.field-name-field-last-update,.field-name-field-ref-id{
  margin-bottom:20px;
  .field-label{
    font-weight:400;
  }
}
.blog-home,.page-node-125,.page-node-121,.context-page-not-found-404,.context-access-denied-403{
  .field-name-field-last-update{
    display:none;
  }
} 
/* file upload */
.field-name-field-file-upload{ 
  margin-bottom: 20px;
  .field-item{
    .ext{
      text-transform: uppercase;
    }
    a{
      color: $colour-blue-dark-link;
      font-weight: 700;
      display:block;
      padding-left:35px;
      line-height:28px;
      background: url('#{$imgRoot}/icon-download.gif') 0 50% no-repeat;
    }
  }
}
/* field collections */
.field-collection-container {
  border-bottom: 0;
  margin-bottom: 0;
  .field-collection-view{
    margin:0 0 50px;
  }
}
/* footnotes */
ul.footnotes{
  border-top-width: 10px;
  border-top-style: solid;
  padding-top:40px;
  .footnote-label{
    font-weight:700;
  }
  li{
    margin-bottom:25px;
    margin-left:0;
    a.footnote-return{
      text-decoration: underline;
      color: $colour-blue-dark-link;
      font-weight:700;
    }
  }

}
a.see-footnote{
  color: $colour-blue-dark-blog;
  font-weight:700;
}
.see-footnote:before{
  content:'[';
  display:inline;
  font-weight: 400;
}
.see-footnote:after {
  content:']';
  display:inline;
  font-weight: 400;
}
#tooltip {
  text-align: left;
  color: $colour-black-almost;
  background: $colour-tooltip-bg;
  border:4px solid $colour-tooltip-border;
  position: absolute;
  z-index: 100;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#tooltip:after /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $colour-tooltip-border;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid $colour-tooltip-border;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after{
  right: 10px;
  left: auto;
  margin: 0;
}
/* all content */
.region-content{
  .content ul{
    margin-left:2em;
  }
  a{
    color:$colour-blue-dark-blog
  }
}
/* CKEditor */
/* paragraph highlights */
.highlight-general{
  padding:15px 15px 45px;
  background:url('#{$imgRoot}/mc-b-tb.png') $colour-blue-light-2 50% 100% no-repeat;
}
.highlight-red{
  padding:15px 100px 15px 15px;
  background:url('#{$imgRoot}/icon-warning.png') $colour-red-para-hilite 95% 15px no-repeat;
  min-height:70px;
}
.highlight-green{
  padding:15px 100px 15px 15px;
  background:url('#{$imgRoot}/icon-success.png') $colour-green-para-hilite 95% 15px  no-repeat;
  min-height:70px;
}
/* title under line */
h1,h2,h3,h4,h5,h6{
  &.heading-underline:after{
    height: 10px;
    width: 95px;
    display: block;
    margin-top: 15px;
    content: "";
  }
}
/* paragraph underline */
.paragraph-underline:after{
  height: 10px;
  width: 85%;
  display: block;
  margin-top: 15px;
  content: "";
  background: $colour-blue-mid;
  margin-left:-15px;
}
/* link underline & arrow */
.link-underline{
  padding:0 !important;
  line-height:31px;
  &:after{
    content:'';
    display: inline-block;
    width:14px;
    height:31px;
    margin-left:10px;
    vertical-align: top;
  }
  a{
    padding-left:15px;
    border-bottom: 10px solid $colour-blue-mid;
    display: inline-block;
    line-height:31px;
  }
}

/* useful info form */
.block-webform-client-block-26 {
  background: $colour-blue-light-1;
  padding:12px 25px 0 ;
  margin-bottom:30px;
  .webform-component-radios{ 
    margin-top:0;
    & > label{
      line-height:46px;
      background: url('#{$imgRoot}/icon-form-closed.gif') 100% 50% no-repeat;
      padding-right:50px;
      &.open{
        background: url('#{$imgRoot}/icon-form-open.gif') 100% 50% no-repeat;
      }
    }
  }
  .webform-component-textarea > label,.webform-component-radios > label{
    font-size:$fontH2-22;      
  }
  .hide{
    display:none;
  }
  .form-type-radio > *{
    display:inline-block;
    vertical-align: top;
  }
  #foo:checked::before,
    input[type="radio"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
    top:10px;
  }
  input[type="radio"] + label{
    line-height:28px;
    text-transform: capitalize;
  }
  #foo:checked,
    input[type="radio"] + label::before {
    content: url('#{$imgRoot}/radio-off.gif');
    margin-right:10px;
  }
  input[type="radio"]:checked + label::before {
    content: url('#{$imgRoot}/radio-on.gif');
    margin-right:10px;
  }
  .form-actions.form-wrapper{
    text-align: right;
  }
  button, input[type="reset"], input[type="submit"], input[type="button"]{
    @include submit-button();
  }
}
#messages.helpful_frm{
  font-weight:700;
  .messages{
    background:none;
    border:none;
    border-left:5px solid $colour-blue-light-1;
    padding: 0 15px;
    margin: 15px 25px;
  }
}
/* contact form */
.node-type-webform{
  input[type="text"],input[type="email"],textarea{
    border-color:$colour-blue-form-border;
    width:100%;
  }
  input[type="submit"]{
    @include submit-button();
    float:right;
  }
}
/* footer */
.zone-footer{
  background: url('#{$imgRoot}/footer.png') $colour-grey-dark 0 100% no-repeat;
  background-size: 100% auto;
  font-size: $font16;
  padding:30px 0 90px;
  margin-bottom:20px;
  ul.menu li{
    display:inline-block;
    vertical-align:top;
    margin:0 15px 10px 0;
  }
  ul.menu li:nth-child(3n){
    margin:0;
  }
  p,li a,li a:active{
    color:#fff;
    text-decoration:none;
    font-weight:700;
  }
}
/* error pages */
.context-page-not-found-404,.context-access-denied-403 {
  .region-preface-second{
    h1{
      font-size:$fontHuge;
      color:$colour-blue-light-pastel2;
      font-weight:700;
      line-height: 1;
    }
  }
  .section-content{
    padding-top:203px;
    background: url('#{$imgRoot}/err-t.png') 50% 0 no-repeat;
  }
  .zone-content-wrapper {
    background: $colour-blue-mid;
    .field-name-field-preface{
      font-size:$font60;
      color:#fff;
      font-weight:700;
    }
  }  
  .zone-postscript-wrapper {
    padding-bottom:129px;
    background: url('#{$imgRoot}/err-b.png') 50% 100% no-repeat $colour-blue-mid;
    .field-name-body p{
      display: inline;
      font-size:$font31;
      color:#fff;
      font-weight:700;
      padding-bottom:10px;
      border-bottom:$colour-blue-light-pastel2 solid 10px;
      a{
        color:#fff;
      }
    }
  }
}

/* revisions */
.view-public-revisions{
  .block-help {
    display:none;
  }
  .views-field-nothing {
    *{
      margin:0 !important;
      padding:0 !important;
      font-size: 1em !important;
    }
    .region-content{
      margin:10px 0 !important;
      padding:10px 0 !important;
      border-top:1px solid #bbb;
      border-bottom:1px solid #bbb;
    }
  }
  .loading.el-loading{
    margin:10px 0 !important;
    padding:10px 0 !important;
    border-top:1px solid red;
    border-bottom:1px solid red;
    background:url('#{$imgRoot}/throbber-active.gif')  no-repeat 50% 50%;
    height:20px;
  }
}

/* admin stuff */
.block-revisioning-pending{
  h2{
    color:#F00;
  }
}
/* mobile specific */
@media screen and (max-width: 739px) and (min-width: 1px)  {
  img{
    width:100%;
    height:auto;
  }
  .logo-img {
    padding-top: 5px;
    margin-right: 0;
    img{
      display:block;
      height:50px;
      width:auto; 
    }
  }
  .region-branding,.region-user-first,.region-menu{
    margin-bottom:10px;
  }
  #superfish-1-select,#superfish-2-select{
    width:100%;
  }
  /*search*/
  .region-user-second{
    .views-exposed-form .views-exposed-widget{
      width:calc(100% - 45px);
    }
    .views-exposed-widget.views-submit-button{
      width:45px;
    }
  }
  .block--exp-site-search-page .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"],
  .block--exp-site-search-page-1 .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"] {
    width:100%;
  }
  /* content header area */
  .context-land-buildings-transaction-tax,
  .context-scottish-landfill-tax {
    #breadcrumb{
      margin-top:0;
      padding-top:20px;
    }
  }

  .modified-theme .zone-preface{
    padding-bottom:50px;
    #breadcrumb{
      padding-top:20px;
    }
  }
  .context-who-we-are,.context-legislation,.context-news,.context-help,.context-compliance-dispute-resolution,.default-theme{
    .zone-preface-wrapper{
      padding-top:55px;
    }
  }
  .context-land-buildings-transaction-tax,.context-scottish-landfill-tax,.context-who-we-are,.context-legislation,.context-news,.context-help,.context-compliance-dispute-resolution,.default-theme,.node-type-news {
    .region-preface-second{
      .block-block-9,.block-block-10,.block-block-11,.block-block-13,.block-delta-blocks-page-title{
        margin-left:10px;      
      }
      .block-block-9:after,.block-block-10:after,.block-block-11:after,.block-block-13:after,.block-delta-blocks-page-title:after{
        margin:0;
      }
    }
    .block-field-introduction,.block-block-15{
      margin:10px 0 0 10px;
    }

    .block-sub-menu-items {
      .depth-2,.depth-3{
        h2{
          height:auto;
        }
      }
    }
  }

  .context-blog{
    .logo-img {
      margin-bottom:0;
    }
    .region-menu{
      display: none;
    }
    .block--exp-site-search-page-1{
      padding-top:0;
    }
  }

  .blog-home{
    .zone-preface-wrapper{

      .field-name-field-introduction{
        margin-top:0;
        padding-top:10px
      }
    }
  }
  .block-sub-menu-items{
    .grid-4,
    .grid-4:nth-child(3n+1),
      .grid-4:nth-child(3n+3){
      margin:0 0 60px;
    }
  }

  .region-content .block-system-main{
    margin-bottom:10px;
  }
  .block-menu-block-2 {
    margin:0 10px;
  }

  .field-name-field-file-upload{ 
    .field-item{
      margin-bottom:10px;
    }
  }
  .zone-footer{
    padding:30px 0 50px; 
    ul.menu {
      margin-bottom:10px;
      li,
      li:nth-child(3n){
        display:block;
        margin:5px 15px 0;
      }  
    }
  }

}

@media screen and (max-width: 360px) and (min-width: 1px)  {
  .block-webform-client-block-26 .webform-component-radios>label {
    line-height: 1.2;
  }
  #recaptcha_area{
    margin-left:-35px;
  }
}
