/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'base';

/* variables */
/* fonts */
$default-font:"Raleway", Verdana, Helvetica, Arial, sans-serif;

/* font size */
h1{font-size:$fontH1;}
h2{font-size:$fontH2;}

/* main page settings */
.page {font-size:$reducedfont !important; line-height: 1.2;}
.page * {font-family:  $default-font !important;}
/* menu */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
li.expanded, li.collapsed, li.leaf{
  padding:0;
}

/* links */
a:link, a:visited{
  text-decoration: none;
}

/* home */
.front .zone-preface-wrapper{
  background: url('#{$imgRoot}/main-content-blue-top-home.png') $midBlue no-repeat 50% 0;
  padding-top:180px;
}
.front .zone-preface .region .block-inner{
  background: url('#{$imgRoot}/white-block-blue-bg-footer-wedge.png') 0 100% no-repeat #fff;
  padding-bottom: 20px;
  background-size: 100% 20px;
  margin-bottom:20px;
}
.front .zone-preface .region .block-inner,.front .block-block-5  {
  .content{
    padding-top:20px;
  }
  .content>*{
    padding:$contentBlockPadding;
  }
}
.front .zone-preface .region {
  .block-block-2 .content{
    background: url('#{$imgRoot}/block-top-flash-1.png') 100% 0 no-repeat;
  }
  .block-block-3 .content{
    background: url('#{$imgRoot}/block-top-flash-2.png') 100% 0 no-repeat;
  }
  .block-block-4 .content{
    background: url('#{$imgRoot}/block-top-flash-3.png') 100% 0 no-repeat;
  }
}
.front .zone-content-wrapper{
  padding-top: 100px;
  background: url('#{$imgRoot}/main-content-blue-bottom-home.png') no-repeat 50% 0;
}
.front .zone-content{
  background:$lilac;
}
.front .field-name-body a{
  display: inline-block;
  background: url('#{$imgRoot}/blue-on-white-arrow-right.png') $darkBlue 100% 50% no-repeat;
  padding:0 55px 0 20px;
  line-height:46px;
  color:#fff;
  font-weight: 700;
}
.front .block-block-5 {
  background:url('#{$imgRoot}/arrow-dark-lilac-on-white-down.png') $darkLilac 50% 100% no-repeat;
  background-size: 100% 21px;
  padding-bottom:21px;
  h2{
    color:#fff;
    border-bottom:11px solid #fff;
    display:inline-block;
    padding-right:0 !important;
  }
}

/* footer */
.zone-footer{
  background: url('#{$imgRoot}/footer.png') $darkGrey 0 100% no-repeat;
  background-size: 100% auto;
  font-size: $font16;
  padding:30px 0 170px;
  ul.menu li{
    display:inline-block;
    vertical-align:top;
    margin:0 16px 0 0;
  }
  ul.menu li:nth-child(1n+3){
    margin:0;
  }
  p,li a,li a:active{
    color:#fff;
    text-decoration:none;
    font-weight:700;
  }
}