/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'base';
$grid-1:60px;
$grid-2:140px;
$grid-3:220px;
$grid-4:300px;
$grid-5:380px;
$grid-6:460px;
$grid-7:540px;
$grid-8:620px;
$grid-9:700px;
$grid-10:780px;
$grid-11:860px;
$grid-12:940px;

.page {font-size:$basefont !important;}

/* footer */
.zone-footer{
  li{
    width:$grid-3;
  }
  li:nth-child(3n){
    width:$grid-2;
  }
}
.block-client-block-26{
  width:$grid-6;
}
#messages.helpful_frm{
  width:$grid-5;
}

.view-id-events{
  .views-label{
    width:$grid-2;
  }
  .field-content{
    width:$grid-4;
  }
}
.blog-home{
  .zone-preface-wrapper{
    .field-name-field-introduction{
      width:$grid-8;
    }
  }
}
.field-name-field-file-upload .field-item{
  display:inline-block;
  margin:0 16px 0 0;
  width:33%;
  width:calc((100% - 60px) / 3);
}
/*search*/
.block--exp-site-search-page .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"],
.block--exp-site-search-page-1 .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"] {
  width:$grid-3 - 45;
}


/* main menu */
.sf-menu-tax-main-menu{
  font-size:$font21;
  & .sf-depth-1 > ul{
    width:$grid-12;
    margin-top:4px !important;
    & li {
      width:$grid-4;
    }
  }
  & #menu-616-1 > ul{
    left:-250px;
  }
  & #menu-617-1 > ul{
    left:-468px;
  }
}
.context-scottish-landfill-tax {
  .sf-menu-tax-main-menu{
    & #menu-617-1 > ul{
      left:-240px;
    }
  }
}

.block-webform-client-block-26 {
  .webform-component-radios{ 
    & > label{
      line-height:45px;
    }
  }
}

.field-name-field-file-upload .field-item a{
  line-height:28px;
}
.context-contact-us{
  .webform-client-form{
    width:$grid-8;
  }
}