/* This file will hold styles that are loaded using the same media query as the wide grid. */
@import 'base';
$grid-1:80px;
$grid-2:180px;
$grid-3:280px;
$grid-4:380px;
$grid-5:480px;
$grid-6:580px;
$grid-7:680px;
$grid-8:780px;
$grid-9:880px;
$grid-10:980px;
$grid-11:1080px;
$grid-12:1180px;

/* footer */
.zone-footer{
  li{
    width:$grid-3;
  }
  li:nth-child(3n){
       width:$grid-2;
  }
}
.block-client-block-26{
 width:$grid-6;
}
#messages.helpful_frm{
 width:$grid-5;
}
.view-id-events{
  .views-label{
    width:$grid-2;
  }
  .field-content{
    width:$grid-4;
  }
}
.blog-home{
  .zone-preface-wrapper{
    .field-name-field-introduction{
    width:$grid-8;
    }
  }
}
.field-name-field-file-upload .field-item{
  display:inline-block;
  margin:0 16px 0 0;
  width:33%;
  width:calc((100% - 60px) / 3);
}