/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'base';
$grid-1:40px;
$grid-2:100px;
$grid-3:160px;
$grid-4:220px;
$grid-5:280px;
$grid-6:340px;
$grid-7:400px;
$grid-8:460px;
$grid-9:520px;
$grid-10:580px;
$grid-11:640px;
$grid-12:700px;

/* logo */
.region-branding .logo-img img{
  width:$grid-3;
  height:auto;
}

/* top menu */
.region-user-first {
  ul.menu {
    margin-right:5px;
    li{
      a{
        padding:5px 10px;
      }
    }
  }
}
/* a-z menu listing */
.menu-block-2 {
  .menu{
    margin: 0 auto;
    width:80%;
  } 
}
/* footer */
.zone-footer{
  li{
    width:$grid-3;
  }
  li:nth-child(3n){
    width:$grid-2;
  }
}
.block-client-block-26{
  width:$grid-6;
}
#messages.helpful_frm{
  width:$grid-5;
}
.view-id-events{
  .views-label{
    width:$grid-2;
  }
  .field-content{
    width:$grid-4;
  }
}
.blog-home{
  .zone-preface-wrapper{
    .field-name-field-introduction{
      width:$grid-8;
    }
  }
}

.field-name-field-file-upload .field-item{
  display:inline-block;
  margin:0 16px 0 0;
  width:33%;
  width:calc((100% - 60px) / 3);
}
/*search*/
.block--exp-site-search-page .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"],
.block--exp-site-search-page-1 .views-exposed-form .views-exposed-widget .form-type-textfield input[type="text"] {
  width:$grid-3 - 50;
}
/* main menu */
.sf-menu-tax-main-menu{
  font-size:$font16;
  li.sf-depth-1{
    width:42%;
  }
  & .sf-depth-1 > ul{
    width:$grid-12;
    margin-top:19px !important;
    & > li {
      width:$grid-4;
    }
  }
  & #menu-616-1 > ul{
    left:-190px;
  }
  & #menu-617-1 > ul{
    left:-357px;
  }
}


/* Land & Building Transaction Tax  */
.context-land-buildings-transaction-tax {
  .zone-preface-wrapper{
    padding-top:75px;
    background: url('#{$imgRoot}/mc-r-t_narrow.png') 50% 0 no-repeat;
    margin-bottom:50px;
  }
}
/* scottish landfill tax */
.context-scottish-landfill-tax {
  .sf-menu-tax-main-menu{
    & #menu-617-1 > ul{
      left:-180px;
    }
  }
  .zone-preface-wrapper{
    padding-top:75px;
    background: url('#{$imgRoot}/mc-g-t_narrow.png') 50% 0 no-repeat;
    margin-bottom:50px;
  }
}
.block-webform-client-block-26 {
  .webform-component-radios{ 
    & > label{
      line-height:1.2;
    }
  }
}
.field-name-field-file-upload .field-item a{
  line-height:1.2;
}
.context-contact-us{
  .webform-client-form{
    width:$grid-8;
  }
}